<li class="p-10 hover:bg-blue-50 rounded-md hover:transition-all" id={@id}>
    <div class="flex space-x-3">
        <img src={@repo.avatar_url} alt="" class="h-6 w-6 rounded-full">
        <div class="flex-1 space-y-1">
            <.info name={@repo.name} watchers_count={@repo.watchers_count} />
            <.description description={@repo.description} icon={@icon} target={@myself} color={@color} />
            <.message message={@message} />
        </div>
    </div>
</li>
